name: build

on:
  workflow_call:
    outputs:
      date:
        value: ${{ jobs.date.outputs.date }}
  workflow_dispatch:
  push:
  release:
    types:
      - published

concurrency:
  group: build-${{ github.ref }}

defaults:
  run:
    shell: bash -leo pipefail {0}

jobs:
  date:
    runs-on: ubuntu-latest
    steps:
      - run: echo date="$(date +%Y.%m.%d)" >> $GITHUB_OUTPUT
        id: date        
    outputs:
      date: ${{ steps.date.outputs.date }}
  build:
    needs: [ date ]
    strategy:
      fail-fast: false
      matrix:
        # the macOS 13 runner is on Intel hardware
        runs-on: [ ubuntu-latest, macos-latest ]
        python-version: [ '3.11', '3.12', '3.13' ]
    runs-on: ${{ matrix.runs-on }}
    name: build (Python ${{ matrix.python-version }}, ${{ matrix.runs-on }})
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462  # v2.0.7
        with:
          environment-name: stenv-${{ runner.os }}-py${{ matrix.python-version }}
          environment-file: environment.yaml
          condarc: |
            use_uv: true
          create-args: >-
            python=${{ matrix.python-version }}
          cache-environment: true
          cache-environment-key: environment-${{ needs.date.outputs.date }}
          init-shell: bash
          generate-run-shell: false
          post-cleanup: none
      - run: echo "filename=stenv-${{ runner.os }}-${{ runner.arch }}-py${{ matrix.python-version }}-${{ needs.date.outputs.date }}.yaml" >> $GITHUB_OUTPUT
        id: output
      - run: |
          micromamba env export --no-build | grep -v "name:" | grep -v "prefix:" > ${{ steps.output.outputs.filename }}
          cat ${{ steps.output.outputs.filename }}
      - run: pip install pytest
      - run: pytest tests/test_import.py
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: ${{ steps.output.outputs.filename }}
          path: ${{ steps.output.outputs.filename }}
      - if: (github.event_name == 'release' && github.event.action == 'published')
        uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741  # 2.11.3
        with:
          file: ${{ steps.output.outputs.filename }}
